@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

:root {
  --margin-left: 15px;
}

/* Oculta los elementos innecesarios */
div.modal-content,
.panel-footer,
.panel-body:last-child,
.btn-primary,
div.pathway,
button.btn.btn-warning,
.task_progress_score_text,
.label-info {
  display: none;
}

body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
}
.container-main {
  width: 60%;
  padding: 50px;
  margin: auto;
}
.panel-body {
  margin-left: 10px;
  margin-right: 10px;
}

.panel-default {
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.panel-title,
.list-group-item {
  margin-left: var(--margin-left);
}

pre {
  border: 1px solid #ccc;
  padding: 15px;
  overflow-x: auto;
  background-color: #ccc;
  overflow-x: auto;
  border-radius: 5px;
}

pre {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p code,
li code {
  font-size: 16px;
  color: rgb(248, 74, 74);
}

@media screen and (max-width: 480px) {
  .container-main {
    width: 90%;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .container-main {
    width: 80%;
    padding: 0;
  }
}
