@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  --margin-left: 15px;
}

* {
  box-sizing: border-box;
}

/* Oculta los elementos innecesarios */
div.modal-content,
.panel-footer,
div.gap,
.btn-primary,
div.pathway,
button.btn.btn-warning,
.task_progress_score_text,
.label-info,
#project-metadata {
  display: none;
}

body {
  font-family: 'aktiv-grotesk', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

.container-main {
  width: 900px;
  padding: 50px;
  margin: auto;
}

h1 {
  font-size: 36px;
  text-align: center;
}

h2 {
  font-size: 30px;
}

.panel-body {
  margin-left: 10px;
  margin-right: 10px;
}

#project-description a {
  color: #e0003c;
  text-decoration: none;
}

.panel-default {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 19px;
  margin-top: 25px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.list-group {
  border: 1px solid #eee;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
}

.panel-title,
.list-group-item {
  margin-left: var(--margin-left);
}

.panel-default > .panel-heading {
  padding: 2px;
  background-color: #eee;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  box-sizing: border-box;
}

pre {
  border: 1px solid #ccc;
  padding: 15px;
  overflow-x: auto;
  background-color: #ccc;
  overflow-x: auto;
  border-radius: 5px;
}

pre {
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p code,
li code {
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 90%;
}

@media screen and (max-width: 480px) {
  .container-main {
    margin: 0;
    padding: 0;
    width: 98%;
    margin: auto;
  }
}
